<%- include('header')  -%>
    <h1>DASHBOARD</h1>
    <% if(user){%>
        <h3>HELLO
            <%=user.name%>
        </h3>
        <%}else{%>
            <h3>HELLO user</h3>
            <% } %>

                <!-- <a href="/logout" class='btn btn-secondary '>Log out</a> -->
                <a href="/logout" class='btn btn-secondary' onclick="signOut();">Sign out</a>


                <script>
                    function signOut() {
                        var auth2 = gapi.auth2.getAuthInstance();
                        auth2.signOut().then(function() {
                            console.log('User signed out.');
                        });
                    }
                </script>
                <%- include('footer')  -%>