<%- include ('header')  -%>
    <nav class="navbar navbar-light bg-light">
        <form class="container-fluid justify-content-space-between">
            <a href='#' class="btn btn-outline-secondary  me-2" type="button">LOGO</a>
            <a href="sign_up" class="btn btn-outline-success btn-sm " type="button">Sign Up</a>

        </form>

    </nav>

    <%- include ('login_form') -%>

        <%- include ('footer')  -%>